/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* end meyer reset */

@import 'https://fonts.googleapis.com/css?family=Droid+Sans+Mono';

.header-container {
  flex-direction: column;
  align-items: flex-start;
}

header {
  color: white;
  font-family: Helvetica,sans-serif;
  font-weight: bolder;
  font-size: 26px;
  padding-left: .5rem;
  padding-bottom: .5rem;
  padding-top: .5rem;
  background-color: #191414;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* flex-direction: column;
  align-items: flex-start; */
}

header img {
  height: 100%;
  
  
}

body {
  background-color: #1aa64b;
}

.cardContainer {
  overflow:hidden;
  margin-left:10%;
}

.card {
  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: .25in;
  
  /* Display Properties */
  float: left;
  margin: 10px;
}

/* .card:hover {
  transform: scale(1.2);
  border-radius: .25in;
} */

.dark {
  /* Color information */
  border: 3px solid #191414;
  color: white;
  background: #191414;
}

.light {
  /* Color information */
  border: 3px solid #191414;
  color: #191414;
  background: white;
}

.hidden {
  display: none;
}

.text {
  /*font information*/
  font-family: Helvetica,sans-serif;
  font-weight: bolder;
  font-size: 26px;
  padding-left:7%;
  padding-right:7%;
  word-wrap: break-word;
}

.subtext {
  /*font information*/
  font-family: Helvetica,sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding-left:7%;
  padding-right:7%;
  word-wrap: break-word;
}

.menu {
  list-style-type: none;
}

.menu li:hover {
  color: #d9d9d9;
}

.cardstack {
  width:2.5in;
  float:left;
}

.stackcard {
  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: .25in;
  
  /* Display Properties */
  position:absolute;
  margin: 10px;
}

.stackcard:nth-child(2) {
  margin: 10px;
  margin-top: 80px;
}

.stackcard:nth-child(3) {
  margin: 10px;
  margin-top: 150px;
}

.stackcard:nth-child(4) {
  margin: 10px;
  margin-top: 220px;
}

.stackcard:nth-child(5) {
  margin: 10px;
  margin-top: 290px;
}

.song-card {
  /* Color information */
  border: 3px solid #d9d9d9;
  color: #d9d9d9;
  background: #212121;

  /* Card Sizing */
  width: 2.5in;
  height: 4in;
  border-radius: .25in;
  
  /* Display Properties */
  float: right;
  margin: 10px;
  list-style: none;
}

.song-card img {
  width: 80%;
  display: block;
  margin: auto;
  padding-top: 1rem;
  border-radius: .20in;
}

.song-info {
  font-size: 18px;
}